<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta author="dlanorlecram">
    <meta name="Dette et prêt">
    <title>Dette et prêt Accueil</title>
    <link href="public/css/styles.css" type="text/css" rel="stylesheet">
    <!--link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")-->
    <link href="public/bower_components/components-font-awesome/fonts/fontawesome-webfont.ttf">
    <script src="public/bower_components/angular/angular.js">
      <!--script(src='public/bower_components/angular-route/angular-route.js')-->
    </script>
    <script src="public/js/myapp.js">
      <!--script(src='public/js/config.js')-->
    </script>
  </head>
  <body ng-app="myApp">
    <div class="wrapper">
      <section>
        <header>
          <nav>
            <div class="nav-header">
              <div class="profile"></div><span>Hello Ronald!</span>
            </div>
            <div class="count_section">
              <ul>
                <li><a href="#">Logout</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">About it!</a></li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="row">
          <div class="compta col-12">
            <div class="filter">
              <ul>
                <li><a href="#credit">Mes Prêts</a></li>
                <li><a href="#payback">Mes Dettes</a></li>
                <li><a href="#totaux">Totaux</a></li>
              </ul>
            </div>
            <div class="historique col-8" ng-controller="paybackCtrl">
              <div class="next" ng-controller="creditCtrl">
                <!--.box1
                h1 dépenses
                  .box_item_dette
                      ul(ng-repeat="user in users")
                          li {{user.id}}
                          li {{user.username}}
                          li {{user.usergroup}}
                          li {{user.usercolor}}
                -->
                <div class="box2">
                  <h2>dettes</h2>
                  <div class="box_item_dette col-3" ng-repeat="cash in money">
                    <ul>
                      <li>{{aUsers[cash.Payeur]}}</li>
                      <li>{{cash.Concernes}}</li>
                      <li>{{cash.Date}}</li>
                      <li>{{cash.Montant}}€</li>
                      <li>{{cash.Description}}</li>
                      <li>{{cash.usergroup}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="option col-4">
              <ul class="tools">
                <li class="adding"><span>add</span></li>
                <li class="changing"><span>change</span></li>
              </ul>
              <div class="adding">
                <form>
                  <input type="text" placeholder="Concernes">
                  <input type="text" placeholder="Date">
                  <input type="text" placeholder="Montant">
                  <input type="text" placeholder="Description">
                  <input type="text" placeholder="Groupe">
                  <input type="submit" value="Ajouter">
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>