doctype html
html(lang='fr')
    head
        meta( charset='utf-8' )
        meta( author='dlanorlecram' )
        meta( name='Dette et prêt' )
        title Dette et prêt Accueil
        link( href='public/css/styles.css', type='text/css', rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
        link( href='public/bower_components/components-font-awesome/fonts/fontawesome-webfont.ttf')
    body(ng-app)
        .wrapper
            header
                nav
                    ul
                        li logout
                        li My count
            section
                .compta(ng-view)
                    .filter
                        ul
                            li Mes Prêts
                            li Mes Dettes
                            li Totaux
                    .historique
                    .option
                        ul.tools
                            li.fa.fa-plus.adding 
                                span add
                            li.fa.fa-filter.changing
                                span change
            footer