doctype html
html(lang='fr')
    head
        meta( charset='utf-8' )
        meta( author='dlanorlecram' )
        meta( name='Dette et prêt' )
        title Dette et prêt Accueil
        link( href='public/css/styles.css', type='text/css', rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
        link( href='public/bower_components/components-font-awesome/fonts/fontawesome-webfont.ttf')
    body(ng-app)
        .wrapper
            header
                nav
                    .nav-header
                        h1.header App Mes Dettes
                    .count_section
                        ul.fa.fa-chevron-down
                            li Logout
                            li My account
                            li About it!
            section
                .compta(ng-view)
                    .filter
                        ul
                            li
                                a(href="#prêt") Mes Prêts
                            li
                                a(href="#prêt") Mes Dettes
                            li
                                a(href="#prêt") Totaux
                    .historique
                        .row
                            table
                                thead
                                    tr
                                        th Qui
                                        th Quand
                                        th Somme dû
                                        th Motif
                            .tette
                              table
                                  tbody
                                      tr
                                          td Jean Toto
                                          td 20 Mai 2016
                                          td 30 $
                                          td Une pint d'embuscade

                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa
                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                            //.box_item
                                ul
                                    li close
                                    li Jean Toto
                                    li 20 Mai 2016
                                    li 30 $
                                    li Une pint d'embuscade
                            //.box_item
                                ul
                                    li close
                                    li Michèle Lefou
                                    li 15 Mai 2015
                                    li 200 $
                                    li Bijoux pour sa femme
                    .option
                        ul.tools
                            li.fa.fa-plus.adding
                                span add
                            li.fa.fa-filter.changing
                                span change
