doctype html
html(lang='fr')
    head
        meta( charset='utf-8' )
        meta( author='dlanorlecram' )
        meta( name='Dette et prêt' )
        title Dette et prêt Accueil
        link( href='public/css/styles.css', type='text/css', rel='stylesheet')
        //link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
        link( href='public/bower_components/components-font-awesome/fonts/fontawesome-webfont.ttf')
        script(src='public/bower_components/angular/angular.js')
        script(src='public/bower_components/angular-route/angular-route.js')
        script(src='public/js/myapp.js')
        script(src='public/js/config.js')
        //script(type='text/javascript')
            console.log("test");

    body(ng-app="myApp")
        .wrapper
            header
                nav
                    .nav-header
                        h1.header MyApp
                    .count_section
                        ul.fa.fa-chevron-down
                            li Logout
                            li My account
                            li About it!
            section
                .compta
                    .filter
                        ul
                            li
                                a(href="#credit") Mes Prêts
                            li
                                a(href="#payback") Mes Dettes
                            li
                                a(href="#totaux") Totaux
                    .historique
                        .row(ng-view)
                            //table(ng-controller='userCtrl')
                                thead
                                    tr
                                        th Qui
                                        th Quand
                                        th Somme dû
                                        th Motif
                                        th Groupe
                                tbody
                                    tr(ng-repeat="user in users")
                                      td {{user.Concernes}}
                                      td {{user.Date}}
                                      td {{user.Montant}}€
                                      td {{user.Description}}
                                      td {{user.usergroup}}
                                      //tr
                                          td Jean Toto
                                          td 20 Mai 2016
                                          td 30 $
                                          td Une pint d'embuscade
                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa
                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                                       //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme

                                      //tr
                                          td Michèle Lefou
                                          td 15 Mai 2015
                                          td 200 $
                                          td Bijoux pour sa femme
                    //.box_item
                        ul
                            li close
                            li Jean Toto
                            li 20 Mai 2016
                            li 30 $
                            li Une pint d'embuscade
                    //.box_item
                        ul
                            li close
                            li Michèle Lefou
                            li 15 Mai 2015
                            li 200 $
                            li Bijoux pour sa femme
                    .option
                        ul.tools
                            li.fa.fa-plus.adding
                                span add
                            li.fa.fa-filter.changing
                                span change
