table
    thead
        tr
            th Qui
            th Quand
            th Somme dû
            th Motif
            th Groupe
    tbody
        tr(ng-repeat="cash in money")
            td {{cash.Concernes}}
            td {{cash.Date}}
            td {{cash.Montant}}€
            td {{cash.Description}}
            td {{cash.usergroup}}

//http://javascript.developpez.com/tutoriels/javascript/angularjs-8-iteration-filter/
