doctype html
html(lang='fr')
    head
        meta( charset='utf-8' )
        meta( author='dlanorlecram' )
        meta( name='Dette et prêt' )
        title Dette et prêt
        link( href='public/css/styles.css', type='text/css', rel='stylesheet')
    body
        .wrapper
            section
                #loginbox
                    .block
                        .title
                            h1 Les dettes et les prêts
                        .connexion
                            .signUp
                                .Btn.sUp
                                    h4 Sing Up
                                p you don't have any user count.
                            .signIn
                                .Btn.sIn
                                    h4 Sing In
                                p you already have a user count.
            footer
                .mention
                    p condition générale
                .contact
                    span
                        a(href='mailto:hast@mail.com') Contact us