table
    thead
        tr
            th Qui
            th Quand
            th Groupe
            th Id
    tbody
        tr(ng-repeat="user in users")
            td {{user.id}}
            td {{user.username}}
            td {{user.Montant}}€
            td {{user.usergroup}}
