//accueil.scss
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic');


// MIXIN GRID
$total-columns: 12;
@mixin name($col){
    width: percentage($col / $total-columns);
    float: left;
}

@mixin row(){
    display: block;
    content:'';
    clear: both;
}

/*---test-*/
*{
    box-sizing: border-box;
}
body{
    //background-color: crimson!important;
    background: linear-gradient(to right, #25c481, #25b7c4)!important;
}
.col-1 {
    @include name(7);
}
header{
    padding:{
        right:20px;
        left:20px;
        bottom:70px;
    }
    //background-color: rgba(0,0,0,0.25);
    color: white;
}
nav{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    background-color: coral;
    margin: 0 auto;
    .nav-header{
        padding-top: 10px;
        padding-bottom: 10px;
        float: left;
        font-size: 15px;
        /*h1{
        line-height: 50px;
        margin: 0;
      }*/
        .profile{
          float: left;
          border-radius: 100%;
          border: 3px solid #FFF;
          height: 50px;
          width: 50px;
          background-image: url('../assets/nobody_m.original.jpg');
          background-size: contain;
        }
        span{
          float: left;
          display: block;
          line-height: 50px;
          margin-left: 15px;
        }
    }
    .count_section{
        display: block;
        float: right;
        //position: absolute;
        //right: 20px;
        &::before{
            font-family: 'FontAwesome';
            content: '\f078';
            position: absolute;
            top: 26px;
            right: 340px;
            cursor: pointer;
        }
        ul{
          margin-top: 20px;
          position: absolute;
          top: 61px;
          right: 300px;
          //left: 103px;
          background: white;
          color: black;
          padding: 20px;
          &::after{
            content: '';
            position: absolute;
            bottom: 56px;
            right: 37px;
            border-bottom:#FFF 10px solid;
            border-left: transparent 10px solid;
            border-right: transparent 10px solid;
          }
            li{
                font-size: 15px;
                display: inline;
                font-size: 13px;
                margin:{
                    left: 5px;
                    right: 5px;
                }
                a{
                  list-style: none;
                  text-decoration: none;
                }
            }
        }
    }
}
.option{

  ul{
    margin: 0;
  }

}
.fa{
    margin-left: 10px;
}
span{
    margin-left: 4px;
}
.compta{
    display: table;
    height: auto;
    width: 80%;
    margin:{
        top: 60px;
        right: auto;
        left: auto;
        down: 0;
    }
}

.filter{
    width: 236px;
    //height: 35px;
    //background-color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  /*   margin-bottom: 8px; */

}
.filter ul{
    height: 100%;
    padding: 0;
    margin-bottom: 0px;

    li{
        line-height: 35px;
        border-right: 1px solid black;
        &:first-child{
            //background-color: #f9f9f9;
            //box-shadow: 1px 1px 1px grey;
            border-top-left-radius: 1px;
            border-top-right-radius: 1px;
            }
          &:last-child{
            border-right: none;
          }
        &:nth-child(0n+2),&:nth-child(0n+3){
            //background-color:#448AFF;
        }
        a{
            list-style: none;
            text-decoration: none;
            color: #c0c0c0;
            font-size: 13px;
            &:hover{
                /*background-color: blue;*/
                color: #33691E;
            }
        }
    }
}
.tools{
    li{
    display: inline;
    }
}
.adding:before{
      //content: '\f067';
    }
.changing:before{
        content: '';
    }
.filter ul li{
    //background-color: white;
    display: inline;
    padding:{
        left: 10px;
        right: 10px;
        top: 7px;
        bottom: 7px;
    }
}

.historique{
  height: auto;
  width: 100%;
  //background-color: white;
  display: block;
    //overflow: scroll;
    table{
        width: 100%;
        //margin-top: 5px;
        border-collapse: collapse;
        border-spacing: 17px;
        font-family: 'Lato', sans-serif;
        th{
            background-color: #424242;
            font-size: 13px;
            color: white;
            padding: 20px 15px;
            text-transform: uppercase;
            /* &:first-child{
                    border-right: 1px solid black;
                    }
            &:nth-child(1n-1){
                    border-right: 1px solid black;
                    } */
            &:last-child{
                    border-right: none;
                    }
        }
        thead{
            a{

            }
            tr{
                text-align: left;
                background-color: azure;
                th{
                    padding: 15px;
                    font-size: 11px;
                    color: #c0c0c0;

                    border-collapse: collapse;
                }
            }
        }
        tbody{
          tr{
            text-align: left;
            &:hover{
              background-color: #B2DFDB;
              color: #F0F0F0;
              transition: .75s;
            }
            td{
              padding: 15px;
              font-size: 12px;
              background-color: transparent;
              border-bottom: solid 1px rgba(255,255,255,0.1);
            }
          }
        }
    }

    .box_item{
        word-wrap: break-word;
        height: 30px;
        background-color: aquamarine;
        padding-left: 20px;
        padding-rigt: 20px;
        margin-bottom: 10px;
        ul{
            text-align: center;
            margin: 0;
            padding: 0;
            li{
                display:inline;
                font-size: 11px;
                color: #c0c0c0;
                margin: 0px 10px;
            }
        }
    }
}
th.test{
    color: yellow!important;
}
.mauvais{color: aqua!important;}
tbody{
    overflow-y: scroll;
    height: 250px;
}
.tools{
  //background-color: white;
  //border-left-radius: 4px;
  //border-bottom-right-radius: 4px;
  //border-bottom-left-radius: 4px;
  //height: 40px;
  //height:56px

}

.box_item_dette{
  word-wrap: break-word;
  text-align: center;
  // width: 200px;
  // float: left;
  // padding: 0 5px;
  //height: 100px;

  ul{
    width: 100%;
    //height: 30px;
    margin: 2px 0;
    background: white;
    box-shadow: 0.1px 0.2px 1px 0px #000;
    display: block;
    padding: 0;
    font-size: 10px;
    text-transform: capitalize;
    li{
      display: block;
      line-height: 32px;
      &:first-child{
        margin-left: 10px;
        margin-right: 10px;
      }
      &:nth-child(1n+1){
        margin: 0 15px;
      }
    }
  }
}
.option{
  width: 250px;
  .tools{
    li{

    }
  }
}
.form_add_spending{
  float: left;
  width: 250px;
  height: auto;
  background-color: rgb(243,130,95);
  padding: 10px;
  input{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255,197,178);
    margin: 0px 0 10px 0;
  padding: 5px 10px;
    font-size: 10px;
  }
  input[type="submit"]{
    cursor: pointer;
  }
}

.form_add_user{
  margin-left: 5px;
  float: left;
  width: 250px;
  height: auto;
  background-color: rgb(243,130,95);
  padding: 10px;
  input{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255,197,178);
    margin: 0px 0 10px 0;
    padding: 5px 10px;
    font-size: 10px;
    &:placeholder-shown{
    color: green;
    }
  }
  ul{
    //height: 10.7334px;
    font-size: 10px;
    text-transform: capitalize;
    padding: 0;
    display: inline-block;
    width: 100%;
    list-style: none;
    text-align: center;
    height: 22.3px;
    padding: 1px 10px;
    //background-color: aquamarine;
    line-height: 22.3px;
    margin-top: 0;
    border: 1px solid #ffc5b2;
    color: white;
    cursor: pointer;
    li{
      &:not(.init){display: none;}
    }
  }

  select{
    display: block;
    margin: 0 auto;
  }
}
label{
  font-size: 10px;
  color: white;
}
.title_form{
  text-align: center;
  color: white;
  margin: 10px 0;
  letter-spacing: 1px;
}

.form_add_group{
  margin-left: 5px;
  float: left;
  width: 250px;
  height: auto;
  background-color: rgb(243,130,95);
  padding: 10px;
  input{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255,197,178);
    margin: 0px 0 10px 0;
    padding: 5px 10px;
    font-size: 10px;
    &:placeholder-shown{
    color: green;
    }
  }
  input[type="submit"]{
    cursor: pointer;
  }
  select{
    display: block;
    margin: 0 auto;
  }
}
////
li.name{
  font-size: 14px;
}
li.concernes{
  font-size: 8px;
}
li.date{
  font-size: 10px;
}
li.price{
  font-size: 20px;
}
li.desc{
  font-size: 18px;
}
li.group{
  font-size: 12px;
}

input[type="submit"]{
  cursor: pointer;
  color: white;
}
//////
.option_menu{
  padding-top: 20px;
  padding-bottom: 18px;
  ul{
    line-height: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    li{
      list-style: none;
      font-size: 10px;
      text-transform: uppercase;
      a{
        margin-left: 14px;

      }
    }
  }
}

.count_section{
  ul{
    li{
      a{
        font-family: "Lato", sans-serif;
        &:before{
          margin-right: 10px;
          font-family: "Fontawesome";
        }
      }
    }
  }
}

.toggle_menu{
  margin-left: 59px;
  padding-top: 28px;
}
//////
