$col_max: 12;

@for $i from 1 through $col_max{
  .col-#{$i}{
    width: percentage($i/$col_max);
    float:left;
    padding: 0 15px;
  }
}
.row:before, .row:after {
  display: table;
  content: '';
}
.row:after {
  clear: both;
}
.row{
    margin: 0 -15px;
}
//#col-offset-*
@for $j from 1 through $col_max{
    .col-offset-#{$j}{
        margin-left: percentage($j)/$col_max;
    }
}
